.popupOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 10;
}

.formWrapper {
    background: white;
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 100%;
    max-width: 90%;
}

.formWrapper form {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.formWrapper textarea{
    width: 100%;
    height: 150px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    padding: 8px;
    box-sizing: border-box;
    resize: none;
}

.popupButtons {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
}

.popupButtons button {
    padding: 10px 16px;
    font-size: 16px;
}

.generateButton {
    background: none;
    border: none;
    padding: 4px;
    cursor: pointer;
}

.generateButton img {
    width: 18px;
    height: 18px;
}

.dark .formWrapper {
    background: #333333;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1);
}

.dark .formWrapper textarea {
    background-color: #2a2a2a;
    color: white;
    border: 1px solid white;
}

.dark .generateButton img {
    filter: brightness(0) saturate(100%) invert(100%);
}